@import url("https://fonts.googleapis.com/css2?family=Harmattan&display=swap");

body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Harmattan", sans-serif;
}

/* Navbar */
/* .navbar {
  position: fixed;
  z-index: 9;
  width: 100%;
} */

.nav-link {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-right: 1.3rem;
}

.button {
  background-color: #0086b0;
}

/* Hero section */
header {
  background-image: url(./images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  max-width: 100%;
}

.head {
  padding: 5rem;
}

.input-email {
  display: flex;
}

.button2 {
  border-radius: 0;
  background-color: #0086b0;
  padding-top: 6px;
}

.btn:hover {
  background-color: rgb(67, 147, 171);
}

.display-1 {
  font-size: 6rem;
  font-weight: bold;
}

/* Trending Section */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  background-color: #0086b0;
}

.box-1 {
  grid-row-start: 2;
  grid-row-end: span 2;
}

.section {
  background: url(./images/box1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.input-email-2 {
  display: flex;
  justify-content: center;
}

/* Footer */
footer {
  color: #fff;
  background-image: url(./images/footer.png);
}
span {
  color: #0086b0;
}

.links a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.links {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-right: 3rem;
}

.input-email-3 {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 0.3rem 0;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  margin-right: 1rem;
}

.input-email-3 input {
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 60%;
}

.btn3 {
  border-radius: 5px;
  background-color: #0086b0;
  padding-top: 4px;
  font-size: 0.8rem;
}

footer .underline {
  border-bottom: 1px solid #fff;
}

.icons a {
  color: #fff;
  text-decoration: none;
  margin-right: 1.5rem;
}

.icons {
  justify-content: space-between;
  text-align: right;
  margin-right: 5rem;
}

span i {
  color: #fff;
}

/* Register/Login page */

.registration {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(./images/story2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.register {
  margin: auto;
  border: 2px solid gray;
  border-radius: 12px;
  width: fit-content;
  padding: 3rem 5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: lightgray;
}

.input-field {
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background-color: lightgray;
  text-align: center;
}

.button4 {
  border-radius: 10px;
  background-color: #0086b0;
  padding-top: 4px;
  font-size: 1.5rem;
  /* margin: 5px 3px; */
}

a {
  color: #0086b0;
  text-decoration: none;
}

/* Stories section */
.stories-section {
  background-color: #f5f6f8;
}

.stories-section img {
  width: 100%;
}

.main-story-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.card {
  margin: 3rem 0 0 0;
  width: 16rem;
}

/* DashBoard */

.dash-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: black;
}

.my-story,
.welcome {
  margin-left: 150px;
}

.dash-nav img {
  display: block;
  background-color: #f0f8ff;
  padding: 0.5rem;
  margin: auto;
  width: 80%;
  border-radius: 5px;
}

.dash-nav .link {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #f0f8ff;
  margin-bottom: 2rem;
}

.dash-nav .link:hover {
  color: #0086b0;
}

.dash-logo {
  margin-top: 1.5rem;
}

.copy {
  color: #fff;
  border: 1px groove #fff;
  border-radius: 5rem;
  padding: 0 0.5rem;
}

.paragraph {
  color: lightcyan;
  font-size: 12px;
  margin-top: 8rem;
  opacity: 0.5;
  font-weight: 600;
}

/* Media Queries */
@media (max-width: 575px) {
  .input-email {
    display: block;
  }

  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url(./images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    max-width: 100%;
    text-align: center;
    padding-top: 3rem;
  }

  .display-1 {
    font-size: 4rem;
    font-weight: bold;
  }

  .head {
    padding: 4rem;
  }

  .first-input {
    display: none;
  }

  .button2 {
    display: block;
    width: 100%;
    border-radius: 5px;
  }

  .input-email-3 {
    display: block;
    background: none;
    border: none;
  }

  .input3 {
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .btn3 {
    display: block;
    width: 25%;
  }

  .register {
    margin: auto;
    padding: 2rem 1.5rem;
  }

  .main-story-section {
    display: block;
  }

  .card {
    justify-content: center;
    margin: 3rem 0 0 2rem;
    width: 20rem;
    border: 2px solid red;
  }
}

@media (min-width: 576px) and (max-width: 1199px) {
  .input-email-3 {
    display: block;
    background: none;
    border: none;
  }

  .input3 {
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .btn3 {
    display: block;
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-story-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-story-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 1rem;
    margin: 0;
  }

  .card {
    width: 18rem;
  }
}
